* {
    margin-top: 0%;
}

#header {
    background-color: blue;
    text-align: center;
    color: aliceblue;
    border: 3px blue;
    width: 100%;
}  

.nav {
    color: aliceblue;
    text-align: center; 
    text-decoration: none;
    align-items: center;
}   


ul li {
    padding: 1px;
    display:inline-block;
} 
  


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 245, 247)
}

#About {
    text-align: center;
} 

#main content {
    text-align: center;
}

table {
    align-items: center;
    border-collapse: collapse;
    width: 800px;
    padding: 0%;
} 

#Project {
    text-align: center;
    
}

#skill {
    text-align: center;
    margin-left: 25%;
} 

#Contact {
    text-align: center;
    margin-left: 25%;
    border-collapse: collapse;
}  

#bg {
    color: blue;
} 

table,
th,
td {
    border: 4px solid blue;
    padding: 8px;
}     

img {
    border-radius: 50%;
} 

input,
textarea {
    padding: 10px;
}  

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.back-to-top {
    color: white;
    padding: 12px 16px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}  

.row1 {
    background-color: blue;
}


.div {
    border: 2px solid blue;
}

.marquee {
    color: blue;
}

.center {
    text-align: center;
}

#footer {
    margin-left: 92.5%;
}